body {
  padding: 0;
  margin: 0;
}

p {
  width: 50%;
}

span {
  color: white;
}

/* nav bar css */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #303030;
  text-align: center;
  z-index: 1;
}

.nav-items { 
  display:inline-block;
  margin:0 auto;
}
.nav-items::after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}

.nav-items:hover::after {
  transform: scaleX(1);
}

 .nav-items a {
  display: inline-block; 
  color: white;
  padding: 14px 16px;
  text-decoration: none;  
}

.nav-items a:hover {
  color: #019fb6;
}

/* home css */
#splash {
  background: url(../images/code.jpg);
  background-size: cover; 
  color: white;
  height: 100vh;
  display: flex;
  background: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: auto;
  
} 

#title {
  border-right: 3px solid white;
  font-size: 2vw;
  white-space: nowrap;
  margin: 0;
  padding: 15px 0px 15px 0px;
  /* background-color: rgba(0, 0, 0, 0.8); */
  overflow: hidden;
  width: 100%;
  animation: typing 3s steps(70, end),
             blinking 0.5s step-end 6;
}

#subText {
  visibility: hidden;
  border-right: 3px solid white;
  font-size: 2vw;
  white-space: nowrap;
  margin: 0;
  padding: 15px 0px 15px 0px;
  /* background-color: rgba(0, 0, 0, 0.8); */
  overflow: hidden;
  width: 100%;
  animation: typing 3s steps(70, end) 3s,
             blinking 0.5s step-end infinite;
}

button {
  text-align: center;
  border: 1px solid #808080;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  bottom: 10px;
  position: absolute;
}

button:hover{
  background-color: #808080;
  cursor: pointer;
}

button:focus {
  outline: none;
}
/* end home css */

/* keyframes */
@keyframes typing {
  from {width: 0%}
  to {width: 100%}
}

@keyframes blinking {
  from, to{border-color: white}
   50%{border-color: transparent}
}

