html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Verdana, sans-serif;
}

hr {
	width: 90vw;
}
/* navigation bar */

.navigationBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #4b4b4b;
	z-index: 1;
}

.navigationBarTop {
	top: 0;
	position: fixed;
}

.navigationBarBottom {
	bottom: 0;
	position: absolute;
}

.navigation {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
}

.navigation>li>a {
	padding: 20px 15px;
	color: white;
	display: block;
	font-size: 1.5em;
	text-decoration: none;
}

.navigation>li>a::after {
	display: flex;
	content: '';
	border: solid 1px #fff;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.navigation>li>a:hover::after {
	transform: scaleX(1);
}

#menu {
	display: none;
}

.navMenuContainer {
	display: none;
}

/* start splash page */

.splash {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: center;
	background-color: #1e1e1e;
	background-image: url("./code.png");
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.intro {
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title,
.introText {
	margin: 0;
	padding: 5px;
	color: white;
	font-size: 1.3em;
	text-align: center;
	word-wrap: break-word;
	background: rgba(221, 221, 221, 0.062);
}

.title {
	font-size: 2em;
}

/* start about page */

.about {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.frontend,
.backend {
	width: 30%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.rowTwo {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.other {
	width: 30%;
	height: 94vh;
	display: flex;
	text-align: center;
	flex-direction: column;
}

/* start work page */

.work {
	width: 90vw;
	height: 100vh;
	display: flex;
	background-color: #0074D9;
}

/* start media queries */

@media only screen and (max-width: 600px) {
	.navigationBar {
		display: none;
	}

	#burger {
		margin-left: 30px;
		margin-top: 30px;
		display: block;
		position: fixed;
		z-index: 1;
	}

	#burger:hover {
		cursor: pointer;
	}

	#burger>div {
		width: 40px;
		height: 3px;
		background-color: #fff;
	}

	#burger>div:nth-child(2) {
		margin: 12px 0px;
	}

	#menu {
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		opacity: 0.95;
		display: none;
		position: fixed;
		background-color: #303030;
		animation-fill-mode: forwards;
		z-index: 1;
	}

	#cross {
		height: 6%;
		margin-left: 25px;
		margin-top: 28px;
		display: flex;
		align-items: center;
		position: fixed;
		z-index: 1;
	}

	#cross:hover {
		cursor: pointer;
	}

	#cross > div {
		width: 50px;
		height: 3px;
		background-color: #fff;
	}

	#cross > div:nth-child(1) {
		transform: rotate(45deg) translate(0px, 0px);
	}

	#cross > div:nth-child(2) {
		transform: rotate(-45deg) translate(0px, 0px);
		position: absolute;
		z-index: 2;
	}

	.navMenuContainer {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.navMenu {
		height: 55%;
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		list-style-type: none;
	}

	.navMenu > li > a {
		padding: 0px 0px 0px 0px;
		font-size: 1.5em;
		color: #fff;
		text-decoration: none;
	}

	.navMenu > li > a::after {
		display: block;
		content: '';
		border: solid 1px #fff;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;
	}
	
	.navMenu > li > a:hover::after {
		transform: scaleX(1);
	}
	

	.showHide {
		display: block !important;
	}

	@keyframes fadeIn {
		0% {
			width: 100%;
			height: 0vh;
			opacity: 0;
		}100% {
			height: 100vh;
			opacity: 0.7;
		}
	}

	@keyframes fadeOut {
		0% {
			width: 100%;
			height: 100vh;
			opacity: 0.7;
		}100% {
			height: 0vh;
			opacity: 0;
		}
	}
}