html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Verdana, sans-serif;
}

/* navigation bar */

.navigationBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #4b4b4b;
	z-index: 1;
}

.navigationBarTop {
	top: 0;
	position: fixed;
}

.navigationBarBottom {
	bottom: 0;
	position: absolute;
}

.navigation {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
}

.navigation > li > a {
	padding: 20px 15px;
	color: white;
	display: block;
	font-size: 1.5em;
	text-decoration: none;
}

.navigation > li > a::after {
	display:flex;
	content: '';
	border: solid 1px #ffffff;
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
}

.navigation > li > a:hover::after {
	transform: scaleX(1);
}

.navigation > li > a:hover {
	color: #ffffff;
}

/* start splash page */

.splash {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-image: url("./code.png");
	background-size: cover;
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.intro {
	width: 40%;
	height:40%;
	margin-right: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #00549e;
	background: rgba(72, 106, 137, 0.7);
	box-shadow: 30px 30px 20px 0px rgba(0, 0, 0, 0.4);
} 


.introText {
	text-align: center;
	width:60%;
} 

/* start about page */

hr {
	width: 90vw;
  }
  
  .about {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  }
  
  .frontend {
	width: 30%;
	display: flex;
	text-align: center;
	flex-direction: column;
  }
  
  .backend {
	width: 30%;
	display: flex;
	text-align: center;
	flex-direction: column;
  }
  
  .rowTwo {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  }
  
  .other {
	width: 30%;
	height: 94vh;
	display: flex;
	text-align: center;
	flex-direction: column;
  }

/* start work page */

.work {
	width: 90vw;
	height: 100vh;
	display: flex;
	background-color: #0074D9;
}

/* start keyframes */

@keyframes popUp{

}